<footer class="footer">
  <small>
    <a href="http://hackerspace-nagoya.squarespace.com/">Hacker Space Nagoya</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://hackerspace-nagoya.squarespace.com/whole-articles/">News</a></li>
    </ul>
  </nav>
</footer>